@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
    
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Three consecutive incorrect attempts were made!</p>
    <p class="text-danger">This account has been locked out, please try again after 1 minute.</p>
</header>
